.cart {
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-width-container {
  width: 100%;
  border: 2px solid #cecece;
}

@media screen and (min-width: 768px) {
  .cart-width-container {
    width: 76%;
  }
}

.cart-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.total-amount {
  color: #000;
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.checkout-button {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  height: 36px;
  width: 100px;
  border-radius: 4px;
}

.checkout-popup {
  background-color: #00000060;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-container {
  background-color: #fff;
  padding: 24px;
  width: 100%;
  max-width: 390px;
  border-radius: 12px;
}

.checkout-msg {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.address-input {
  width: 100%;
  margin-top: 16px;
  outline: none;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 6px;
}

.checkout-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.checkout-options {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  height: 36px;
  width: 100px;
  border-radius: 4px;
  align-self: flex-end;
  margin: 6px;
}

.cart-items {
  padding: 24px;
  padding-bottom: 0px;
  border-top: 2px solid #cecece;
}
