.navbar {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background-color: rgb(232, 226, 218);
}

.karo-abhayaas-logo {
  font-family: Roboto Mono;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  color: #000000;
}

@media screen and (min-width: 828px) {
  .karo-abhayaas-logo {
    margin-left: 16px;
  }
}

.navbar-routes {
  display: flex;
  align-items: center;
}

.navbar-route-icon {
  margin-right: 16px;
}

@media screen and (min-width: 828px) {
  .navbar-route-icon {
    margin-left: 20px;
  }
}

@media screen and (min-width: 828px) {
  .mobile-menu-icon {
    display: none;
  }
}

.mobile-menu-popup {
  height: 100vh;
  width: 100vw;
  background-color: rgb(232, 226, 218);
  padding: 24px;
}

.close-menu-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-desktop-routes {
  display: none;
}

@media screen and (min-width: 828px) {
  .navbar-desktop-routes {
    display: flex;
    align-items: center;
  }
}
