.route {
  padding: 16px;
}

@media screen and (min-width: 828px) {
  .route {
    margin-left: 12px;
    padding: 0px 16px;
  }
}

.route-name {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

@media screen and (min-width: 828px) {
  .route-name {
    font-size: 16px;
  }
}

.active-route-name {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

@media screen and (min-width: 828px) {
  .active-route-name {
    font-size: 16px;
  }
}

.nav-sign-up {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

@media screen and (min-width: 828px) {
  .join-us-link {
    order: -1;
  }
}
