.cart-product {
  border: 2px solid #cecece;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.cart-product-details {
  margin-right: 16px;
}

.cart-product-name {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.cart-product-price {
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
}

.cart-product-price-span {
  font-weight: 300;
}

.delete-product {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  height: 36px;
  width: 80px;
  border-radius: 4px;
  flex-shrink: 0;
  margin-left: 12px;
}

.delete-product-popup {
  background-color: #00000060;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-warning-container {
  width: 100%;
  max-width: 340px;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.delete-warning-msg {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
}

.delete-product-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 12px;
}

.popup-options {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  height: 36px;
  width: 140px;
  border-radius: 4px;
  align-self: flex-end;
  margin: 6px;
}
