.classes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4%;
  padding-top: 24px;
}

.classes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .classes {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .classes {
    flex-direction: column;
    width: 86%;
  }
}

.class-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
}

@media screen and (min-width: 900px) {
  .class-item {
    box-sizing: border-box;
    padding: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .class-item {
    max-width: none;
    flex-direction: row;
  }
}

.class-image {
  width: 100%;
  border-radius: 12px;
}

@media screen and (min-width: 1200px) {
  .class-details {
    margin-left: 24px;
  }
}

.class-name {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .class-name {
    margin-top: 0px;
  }
}

.class-description {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 300;
  line-height: 23.74px;
}

@media screen and (min-width: 768px) {
  .class-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.practice-button {
  background-color: #000000;
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
}
